.tarjeta-pelicula{
    width: 18%;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
}
.imagen-pelicula{
    width: 100%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.50);
}

.tarjeta-pelicula:hover,
.active {
    /* box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%); */
    background-color: rgba(0, 0, 0, 0.2);
    width: 18.2%;
}

.tarjeta-pelicula h4 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 2px;
}

.tarjeta-pelicula p {
    font-size: 13px;
    font-weight: 300;
    margin-top: 0;
}

.mas-pelicula{
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.favoritos-pelicula {
    color: red;
    text-align: right;
    border: none;
    cursor: pointer;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.mas-pelicula:hover,
.favoritos-pelicula:hover {
    font-size: 14px;
    cursor: pointer;
}

.show{
    display: block;
}
.hide{
    display: none;
}

@media screen and (max-width:450px){
    .tarjeta-pelicula{
        width: 90%;
        margin-bottom: 30px;
    }

    .tarjeta-pelicula:hover,
    .active{
    /* box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%); */
    width: 92%;
    }

    .favoritos-pelicula {
        margin-left: 80%;
        font-size: 20px;
    }

    .mas-pelicula {
        font-size: 20px;
    }
}