/* Navigation */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000621;
    color: #fff;
    margin: 0 0 0 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}

.navs {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 10px 0 10px;
}

.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

@media screen and (max-width:450px){
    .header {
        align-items: center;
    }

    .navs {
        margin: -10px 10px -10px 0;
    }

    .logo {
        width: 28vw;
        height: 15vh;
        margin-right: 20px;
    }
}
