.detalle-contenedor {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;
}

h3 {
    font-size: 40px;
    margin: 0;
}

.detalle-imagen {
    width: 30vw;
    height: auto;
}

.detalle-info {
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.detalle-favoritos {
    color: red;
    font-size: 30px;
    text-align: right;
    border: none;
    cursor: pointer;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.detalle-favoritos:hover {
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width:450px){
    .detalle-contenedor {
        width: 90vw;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .detalle-imagen {
        width: 80vw;
        height: auto;
    }
    
    .detalle-info {
        width: 80vw;
    }

    p {
        text-align: justify;
    }
}